/* navbar css---------------------------------*/
.nav-container {
  height: 50px;
}


.links {
  margin: 10px 15px;
  color: black;
  transition: all 0.5s ease;
  display: inline-block;
  position: relative;
}

.links:hover {
  cursor: pointer;
}


.links::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.links:hover::after
{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.x-nav {
  opacity: 0;
  width: 50px;
}

.menu-icon,
.menu-icon-2
{
  display: none;
}

.nav-menu,
.nav-menu-2
{
  font-size: 20px;
  padding-top: 10px;
  font-family: dm sans;
}

@media screen and (max-width: 963px) {
  .nav-menu
  {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: fixed;
    top: -100%;
    transition: all 0.5s ease;
    background-color: black;
    padding: 0;
  }

  .x-nav {
    opacity: 1;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
  }

  .nav-menu.active
  {
    left: 0;
    top: 0;
    transition: all 0.5s ease;
    position: fixed;
    background-color: black;
    z-index: 1;
  }
  
  .links
  {
    color: white;
  }

  .menu-icon {
    color: black;
    display: inline;
    font-size: 38px;
    padding: 0 10px;
  }
}

/* home css---------------------------------*/


/* .homepage-container,
.content-container
{
  background-image: linear-gradient(to bottom, rgb(3, 38, 65), white 20%);
} */

.container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.container-1 h1 {
  font-family: Staatliches;
  letter-spacing: 2px;
  font-size: 75px;
  text-transform: capitalize;
  font-weight: light;
}

.container-1 p {
  color: rgb(33, 33, 33);
  width: 80%;
  font-family: poppins;
  font-size: 19px;
  font-weight: bolder;
}

.container-1 ul {
  list-style-type: none;
  padding: 0;
}

.container-1 li {
  font-size: 4rem;
  margin: 0 50px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1)2s;
}

.container-1 li:hover {
  color: lightslategray;
  transform: scale(1.2);
}

.container-2,
.container-3,
.container-4,
.container-5,
.container-8
{
  margin: 100px 0;
}

.container-2 h1 {
  color: lightslategray;
  letter-spacing: 2px;
  font-size: 70px;
  text-transform: capitalize;
  font-weight: light;
  font-family: Staatliches;
  padding-left: 60px;
}

.container-2 p {
  padding-left: 60px;
  font-size: 25px;
  color: rgb(33, 33, 33);
  font-family: poppins;
  width: 60%;
  font-weight: bolder;
}

.container-3 h1,
.container-4 h1,
.container-8 h1
{
  padding-left: 60px;
  text-transform: uppercase;
  font-family: staatliches;
}

.container-3 p,
.container-4 p,
.container-8 p
{
  padding-left: 60px;
  font-family: poppins;
  color: rgb(33, 33, 33);
  font-size: 28px;
  font-weight: bolder;
  width: 60%;
}

.image-2 {
  background-image: url(images/blockchain-1.png);
  background-size: cover;
  height: 330px;
  width: 700px;
}

.image-3 {
  background-image: url(images/blockchain-6.png);
  background-size: cover;
  width: 440px;
  height: 440px;
}

.image-4 {
  background-image: url(images/blockchain-2.png);
  background-size: cover;
  width: 730px;
  height: 330px;
}

.image-container-2,
.image-container-4
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-container-3
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container-3 p {
  font-family: poppins;
  font-size: 12px;
  width: 30%;
}

.image-container-2 p,
.image-container-4 p,
.image-ref
{
  font-family: poppins;
  font-size: 12px;
}

.container-3 span {
  color: rgb(81, 199, 199);
}

.container-4 span ,
.container-2 span
{
  color: lightcoral;
}

.container-8 span {
  color: lightslategray;
}

.container-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}

.container-5 h1 {
  font-family: staatliches;
}

.data-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-container h1 {
  font-family: poppins;
  font-size: 20px;
  font-weight: bolder;
  padding-bottom: 50px;
}

.data-container p
{
  font-family: poppins;
}

.data-container span {
  color: skyblue;
  font-weight: bolder;
}

.cards-1,
.cards-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  color: black;
  width: 35%;
  border-radius: 10px;
  margin: 20px;
  padding: 30px;
  transition: all 0.5s ease;
  border: 1px solid black;
  height: 600px;
}

.cards-1:hover,
.cards-2:hover {
  box-shadow: 0 0 10px gray;
}

.image-5 {
  background-image: url(images/blockchain-3.png);
}

.image-6 {
  background-image: url(images/blockchain-4.png);
}

.image-5,
.image-6 {
  height: 200px;
  width: 250px;
  background-size: cover;
}


@media screen and (max-width: 963px) {

  .container-1 h1
  {
    font-size: 40px;
  }

  .container-1 p
  {
    font-size: 15px;
    width: 90%;
  }

  .container-1 li {
    font-size: 40px;
    margin: 0 10px;
  }

  .container-2 h1 {
    font-size: 40px;
    padding-left: 60px;
  }

  .container-2 p
  {
    font-size: 16px;
    width: 90%;
    padding-left: 60px;
  }

  .container-3 h1,
  .container-4 h1,
  .container-8 h1
  {
    padding-left: 30px;
  }

  .container-3 p,
  .container-4 p,
  .container-8 p
  {
    padding-left: 30px;
    font-size: 16px;
    width: 90%;
  }

  .image-container-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
  }

  .image-container-3 p,
  .image-container-4 p,
  .image-container-2 p
  {
    width: 90%;
    font-size: 8px;
  }

  .image-2 {
    width: 310px;
    height: 130px;
  }
 
  .image-3
  {
    width: 300px;
    height: 300px;
  }

  .image-4 {
    width: 330px;
    height: 140px;
  }

  .image-5,
  .image-6 {
    width: 220px;
    height: 200px;
  }

  .data-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .cards-1,
  .cards-2 {
    width: 80%;
  }

  .image-ref {
    font-size: 8px;
  }


}

/* product css-------------------------------- */

.product-image-container {
  display: flex;
  justify-content: end;
  align-items: end;
}

.product-image-container p {
  font-family: poppins;
  font-size: 10px;
  color: black;
  padding-right: 40px;
}

.blockchain-image {
  height: 350px;
  width: 500px;
}

.container-6 {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-left: 60px;
  width: 80%;
  margin-bottom: 200px;
}

.container-6 h1 {
  font-family: Staatliches;
  letter-spacing: 2px;
  font-size: 75px;
  text-transform: capitalize;
  color: lightslategray;
  font-weight: light;
}

.container-6 p,
.container-7 p,
.container-9 p
{
  font-size: 19px;
  font-family: poppins;
  color: rgb(33, 33, 33);
  font-weight: bolder;
  width: 80%;
}

.container-7,
.container-9
{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  min-height: 90vh;
  padding-left: 60px;
  width: 70%;
}

.container-7 h1,
.container-9 h1
{
  font-family: Staatliches;
  letter-spacing: 2px;
  font-size: 75px;
  text-transform: capitalize;
  color: rgb(33, 33, 33);
  font-weight: light;
}

.container-9 h2 {
  font-size: 100px;
  font-family: staatliches;
}

.container-7 span {
  color: rgb(60, 222, 60);
}

.container-9 span {
  color: lightslategray;
}

.image-container-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 0;
}

.image-container-5 p {
  font-size: 12px;
  font-family: poppins;
}

.image-7 {
  background-image: url(images/blockchain-5.png);
  background-size: cover;
  width: 800px;
  height: 400px;
}

@media screen and (max-width: 963px) {

  .blockchain-image {
    height: 130px;
    width: 200px;
    margin: 50px 0 100px 0;
  }

  .container-6,
  .container-7,
  .container-9
  {
    width: 90%;
  }

  .container-6 h1,
  .container-7 h1,
  .container-9 h1,
  .container-9 h2
  {
    font-size: 30px;
  }

  .container-6 p,
  .container-7 p,
  .container-9 p
  {
    font-size: 15px;
  }

  .container-9 {
    margin-bottom: 50px;
  }

  .image-7 {
    width: 350px;
    height: 150px;
  }

  .image-container-5 p {
    font-size: 8px;
  }

}
 


/* pricing css---------------------------------*/


.price-options-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.pricing-title,
.contact-us-title
{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 20vh;
  font-family: dm sans;
  text-transform: capitalize;
}

.pricing-title h1,
.contact-us-title h1
{
  font-size: 60px;
  font-weight: bolder;
  padding-bottom: 40px;
}

.pricing-title p
{
  font-weight: bolder;
}

.buttons {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid darkgray;
  background-color: rgb(236, 236, 236);
}

.yearly-button {
  border: 1px solid black;
  background-color: red;
  
  background-image: linear-gradient(45deg, purple, red);
  
  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.monthly-button,
.yearly-button {
  background-color: transparent;
  padding: 5px 15px;
  border-radius: 10px;
}

.monthly-button {
  border: none;
}

.buttons button:hover {
  cursor: pointer;
}

.card-1,
.card-2 {
  font-family: dm sans;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
  width: 450px;
  border-radius: 10px;
  transition: all 0.5s ease;
  margin: 0 10px;
  padding: 20px 0;
  /* background-color: rgb(236, 236, 236); */
  box-shadow: 0 0 10px lightgray;
  height: 510px;
}


.card-1 button {
  padding: 8px 20px;
  border-radius: 5px;
  border: 1px solid lightgray;
  transition: all 0.5s ease;
  width: 80%;
}

.card-2 button {
  padding: 8px 20px;
  border-radius: 5px;
  border: 1px solid gray;
  transition: all 0.5s ease;
  width: 80%;
}

.card-1 button:hover {
  border: 1px solid black;
}

.card-2 button:hover {
  background-color: black;
  color: white;
  border: 1px solid transparent;
}

.card-1 h1,
.card-2 h1 {
  font-size: 25px;
  font-weight: bolder;
}

.card-1 h4,
.card-2 h4 {
  font-size: 50px;
}

.card-1 i,
.card-2 i
{
  font-size: 20px;
}

.card-1 p,
.card-2 p {
  color: gray;
  display: flex;
}

.option-1-info,
.option-2-info,
.option-3-info {
  margin-top: 30px;  
}

.option-1-info ul,
.option-2-info ul,
.option-3-info ul {
  list-style-type: none;
  padding: 0;
  font-weight: bolder;
  color: gray;
}

.option-1-info ul li,
.option-2-info ul li,
.option-3-info ul li {
  margin: 10px 0;
}

.add-on-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0 100px 0
}

.add-on-title h1 {
  font-size: 60px;
  font-weight: bolder;
  font-family: dm sans;
}

.add-on-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.add-on-1-card,
.add-on-2-card,
.add-on-3-card,
.add-on-4-card
{
  box-shadow: 0 0 10px lightgray;
  width: 20%;
  height: 250px;
  margin: 10px 20px;
  padding: 20px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.add-on-1-card i {
  background: rgb(203, 242, 255);
  color: blue;
  font-size: 25px;
  border-radius: 50%;
  padding: 5px 10px;
}

.add-on-2-card i {
  background: rgb(255, 215, 255);
  color: purple;
  font-size: 25px;
  border-radius: 50%;
  padding: 5px 10px;
}

.add-on-3-card i {
  background: rgb(255, 255, 177);
  color: brown;
  font-size: 25px;
  border-radius: 50%;
  padding: 5px 10px;
}

.add-on-4-card i {
  background: rgb(200, 255, 200);
  color: green;
  font-size: 25px;
  border-radius: 50%;
  padding: 5px 10px;
}

.add-on-1-card h1,
.add-on-2-card h1,
.add-on-3-card h1,
.add-on-4-card h1 {
  font-size: 20px;
  font-family: poppins;
  font-weight: bolder;
  padding: 20px 0 10px 0;
}

.add-on-1-card p,
.add-on-2-card p,
.add-on-3-card p,
.add-on-4-card p {
  color: lightslategray;
  font-family: poppins;
}

.add-on-1-card:hover,
.add-on-2-card:hover,
.add-on-3-card:hover,
.add-on-4-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.empty-space {
  color: transparent;
}


@media screen and (max-width: 963px) {

  .pricing-title h1,
  .add-on-container h1
  {
    font-size: 30px;
    font-weight: bolder;
  }

  .price-options-container {
    flex-direction: column;
    padding-bottom: 100px;
  }

  .buttons {
    margin: 35px 0;
    font-size: 12px;
  }

  .card-1,
  .card-2 {
    margin: 15px;
    width: 90%;
  }

  .card-1 h1,
  .card-2 h1 {
    font-size: 18px;
  }

  .card-1 p,
  .card-2 p {
    font-size: 12px;
  }

  

  .add-on-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .add-on-1-card,
  .add-on-2-card,
  .add-on-3-card,
  .add-on-4-card {
    width: 75%;
    margin: 20px 0;
  }

  .add-on-1-card h1,
  .add-on-2-card h1,
  .add-on-3-card h1,
  .add-on-4-card h1 {
    font-size: 18px;
  }
}

/* support css------------------------------- */


.contact-us-title p {
  border-bottom: 2px solid black;
  font-size: 25px;
  font-weight: bolder;
}

.contact-us-title h4 {
  font-family: poppins;
  margin: 30px 0;
  color: black;
}

.support-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px 0;
}

.support-card-1,
.support-card-2,
.support-card-3,
.support-card-4,
.support-card-5,
.support-card-6
{
  width: 40%;
  margin: 15px;
  transition: all 0.3s ease;
  padding: 30px;
  box-shadow: 0 0 10px lightgray;
}

.support-card-1:hover,
.support-card-2:hover,
.support-card-3:hover,
.support-card-4:hover,
.support-card-5:hover,
.support-card-6:hover
{
  transform: translateY(-15px);
  cursor: pointer;
}

.support-card-1 {
  border-top: 4px solid skyblue;
}

.support-card-2 {
  border-top: 4px solid teal;
}

.support-card-3 {
  border-top: 4px solid powderblue;
}

.support-card-4 {
  border-top: 4px solid #7CB9E8;;
}

.support-card-5 {
  border-top: 4px solid steelblue;
  text-decoration: none;
}

.support-card-6 {
  border-top: 4px solid turquoise;
  text-decoration: none;
}

.support-card-1 h5,
.support-card-2 h5,
.support-card-3 h5,
.support-card-4 h5,
.support-card-5 h5,
.support-card-6 h5
{
  font-family: dm sans;
  font-size: 25px;
  font-weight: bolder;
  margin: 20px 0 0 50px;
  color: black;
}

.support-card-1 p,
.support-card-2 p,
.support-card-3 p,
.support-card-4 p,
.support-card-5 p,
.support-card-6 p
{
  font-family: poppins;
  font-size: 15px;
  margin: 20px 0 0 50px;
  color: lightslategray;
}

.support-card-1 h6,
.support-card-2 h6,
.support-card-3 h6,
.support-card-4 h6,
.support-card-5 h6,
.support-card-6 h6
{
  padding-top: 20px;
  text-align: end;
  font-family: poppins;
  font-weight: bolder;
}

.support-card-1 h6 {
  color: skyblue;
}

.support-card-2 h6 {
  color: teal;
}

.support-card-3 h6 {
  color: powderblue;
}

.support-card-4 h6 {
  /* color: powderblue; */
  color: #7CB9E8;
}

.support-card-5 h6 {
  color: steelblue;
}

.support-card-6 h6 {
  color: turquoise;
}

.module-container-1,
.module-container-2,
.module-container-3
{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  width: 100%;
  min-height: 100vh;
  position: fixed;
  font-family: dm sans;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border: none;
  box-shadow: 0 0 10px lightgrey;
  width: 80%;
  padding: 40px 0 50px 0;
}

.module-container-1 input,
.module-container-1 textarea,
.module-container-2 input,
.module-container-2 textarea,
.module-container-3 input,
.module-container-3 textarea
{
  width: 400px;
  margin: 10px 0;
  padding: 5px;
  outline: none;
}

.input-container i {
  cursor: pointer;
  font-size: 25px;
}

.module-container-1 button,
.module-container-2 button,
.module-container-3 button {
  border: 1px solid red;
  background: transparent;
  color: red;
  width: 200px;
  padding: 5px;
  margin: 10px 0;
  transition: all 0.5s linear;
}

.module-container-1 button:hover,
.module-container-2 button:hover,
.module-container-3 button:hover {
  background-color: red;
  color: white;
  width: 230px;
}

.error-text {
  color: red;
  font-family: poppins;
}

.ref-container {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 50px 0 50px 40px;
  width: 60%;
}

.ref-container h1 {
  font-size: 55px;
  font-family: dm sans;
  font-weight: bolder;
}

.ref-container p {
  font-size: 15px;
  font-family: poppins;
}


@media screen and (max-width: 963px) {


  .contact-us-title h1 {
    font-size: 30px;
  }

  .contact-us-title p {
    font-size: 16px;
  }

  .contact-us-title h4 {
    font-size: 18px;
    width: 70%;
  }

  .support-card-1,
  .support-card-2,
  .support-card-3,
  .support-card-4,
  .support-card-5,
  .support-card-6
  {
    width: 75%;
    padding-left: 0;
  }

  .module-container-1 input,
  .module-container-1 textarea,
  .module-container-2 input,
  .module-container-2 textarea,
  .module-container-3 input,
  .module-container-3 textarea {
  width: 300px;
}

  .module-container-1 button,
  .module-container-2 button,
  .module-container-3 button {
    width: 250px;
  }

  .module-container-1 button:hover,
  .module-container-2 button:hover,
  .module-container-3 button:hover {
    width: 300px;
  }

  .ref-container {
    width: 80%;
  }

  .ref-container p {
    font-size: 10px;
  }

}



/* features css------------------------------ */

.features-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.features-title h1 {
  font-family: dm sans;
  font-size: 75px;
  font-weight: bolder;
}

.features-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
}

.features-content-container h1 {
  font-family: dm sans;
}

.features-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.feature-1,
.feature-2,
.feature-3 {
  height: 300px;
  width: 400px;
  box-shadow: 0 0 10px lightgray;
  margin: 0 10px;
  border: none;
  padding: 50px 0;
}

.feature-1 h1,
.feature-2 h1,
.feature-3 h1,
.feature-1 h2,
.feature-2 h2,
.feature-3 h2 
{
  text-align: center;
  font-family: dm sans;
  transition: all 0.5s ease;
}

.feature-1 h2 {
  color:#fd5c63;
}

.feature-2 h2 {
  color:forestgreen;
}

.feature-3 h2 {
  color: cadetblue;
}

.dropdown-1,
.dropdown-2,
.dropdown-3 {
  opacity: 0;
  cursor: default;
  font-family: poppins;
  transition: 0.5s opacity;
  margin-top: 30px;
}

.dropdown-1 ul,
.dropdown-2 ul,
.dropdown-3 ul {
  list-style-type: none;
  padding: none;
}

.feature-1:hover .dropdown-1,
.feature-2:hover .dropdown-2,
.feature-3:hover .dropdown-3
{
  opacity: 1;
}

.feature-1:hover h1 {
  color: #fd5c63;
}


.feature-2:hover h1 {
  color: forestgreen;
}


.feature-3:hover h1 {
  color: cadetblue;
}

@media screen and (max-width: 1200px) {


  .features-title h1 {
    font-size: 30px;
    margin: 70px 0;
  }

  .features-content-container h1 {
    font-size: 20px;
  }

  .features-bar {
    flex-direction: column;
  }

  .feature-1,
  .feature-2,
  .feature-3 {
    margin: 20px 0;
    width: 90%;
  }

  .feature-1 h1,
  .feature-2 h1,
  .feature-3 h1 {
    font-size: 18px;
  }

  .feature-1 h2,
  .feature-2 h2,
  .feature-3 h2 {
    font-size: 40px;
  }

  .dropdown-1,
  .dropdown-2,
  .dropdown-3 {
    font-size: 15px;
  }
}

/* footer css---------------------------------*/

.footer-container {
  background-color: black;
  font-family: dm sans;
}

.footer-links-container ul{
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  list-style-type: none;
  padding: 50px 0 50px 100px;
  width: 50%;
}

.footer-links {
  color: white;
  text-decoration: none;
  padding: 5px 0;
}

.footer-links:hover {
  text-decoration: underline;
}

.footer-copyright-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding-bottom: 50px;
}

@media screen and (max-width: 963px) {
  .footer-links-container ul {
    padding: 50px 0 50px 30px;
  }

  .footer-copyright-container {
    font-size: 14px;
  }
}